.dialog-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #777;
}

.dialog {
    background-color: #fff;
    max-height: 500px;
    max-width: 350px;

    &__header {
        background-color: #ddd;
        display: flex;
        width: 100%;
    }

    &__header-title-container {
        width: 70%;
    }

    &__header-title {
       overflow: hidden;
       text-overflow: ellipsis; 
        white-space: nowrap; /* Текст не переносится */
    }

    &__header-button {
    }

    &__content {
      display: flex;
    }

    &__content-block {
        &_left {
            width: 30%;
            border-right: 1px solid #ccc;
        }

        &_right {
            width: 70%;
            max-height: 300px;
            overflow: scroll;
        }
    }

    &__footer {
        background-color: #ddd;
        box-sizing: content-box;
        overflow-wrap: break-word;
        text-align: center;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    width: 100%;
}